#logo
{
    width: 7%;
}

#conteneur_header
{
    display: flex;
    justify-content: space-between;
}

#conteneur_top
{
    display: flex;
    justify-content: space-between;
}
.element
{

}
.element
{

}
.element
{

}